@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --color-primary: #27549D;
  --color-background:#f7f9fd;
  --color-secondary: #7099DB;
  --color-accent: #F1FF24;
  --color-light-grey: #FFFFFF4D;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
} 

/* ---------- Error-state autofill override ---------- */
/* Makes sure autofilled text becomes brown (#812F1D) if inputs are styled as error */
